cardio_volume_skewer @ git+https://github.com/shaharzuler/cardio_volume_skewer.git
four_d_ct_cost_unrolling @ git+https://github.com/shaharzuler/four_d_ct_cost_unrolling.git
flow_n_corr_utils @ git+https://github.com/shaharzuler/flow_n_corr_utils.git
p2p_correspondence @ git+https://github.com/shaharzuler/p2p_correspondence.git
